/* styles.css */

html,
body{
    height:100%;
}
/* navbar */
.navlink{
    color:black;
    font-size:18px;
}

/* cover */
#cover {
    background: url('../images/GIF1.gif')center center no-repeat;
    background-size:cover;
    color:white;
    height:100%;
    text-align:center;
    display:flex;
    align-items:center;
}
#cover-caption {
    width:100%;
}

.covershadow{
    display:none;
    height:40px;
    position:absolute;
    width:98%;
    z-index: 9999;
}
.spacer{
    height:50%;
}

color: white;
}

/* footer */
.btn-twitter {
    background-color: #00aced;
    border-color: #00aced; 
}
.btn-facebook { 
    background-color: #4868ac; 
    border-color: #4868ac;
}
.btn-instagram {
    background-color: #fb3958;
    border-color: #fb3958;
}